name: Build
on:
  push:
    branches:
      - main# or the name of your main branch
jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2         
      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Test
        run: mvn --batch-mode test

  #sonarqube:
    #runs-on: ubuntu-latest
    #needs: [unit-test]
    #steps:
      #- uses: actions/checkout@v2
        #with:
          #fetch-depth: 0
      #- uses: sonarsource/sonarqube-scan-action@master
        #env:
          #SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          #SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
          #LC_ALL: "ru_RU.UTF-8"

  publish-artifact:
    runs-on: ubuntu-latest
    needs: [unit-test] #, sonarqube
    permissions: 
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Set up Maven Settings for deploy
        uses: s4u/maven-settings-action@v2.1.1
      - name: Publish package
        env:
          GITHUB_USERNAME: ${{ secrets.TOKEN_GITHUB }}
          GITHUB_TOKEN: ${{ secrets.TOKEN_GITHUB }}
        run: mvn deploy -DuniqueVersion=false -Dmaven.source.useDefaultManifestFile=true -Dmaven.source.includePom=true -DaltDeploymentRepository='github::default::https://maven.pkg.github.com/everisopennetworks/ffm-ne-back-jv-lib-commons'

